* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
 
align-items: center;
background-color: #333;
color: white;
padding: 20px;
}

header h1 {
font-size: 36px;
margin: 0;
}

nav a {
color: white;
text-decoration: none;
margin-left: 20px;
}

nav a:hover {
text-decoration: underline;
}

main {
max-width: 800px;
margin: 0 auto;
padding: 20px;
}

section {
margin-bottom: 40px;
}

section h2 {
font-size: 28px;
}

section ul {
list-style: none;
padding: 0;
}

section ul li {
margin-bottom: 20px;
}

section ul li h3 {
margin-top: 0;
}

section ul li p {
margin-top: 0;
}

@media screen and (max-width: 600px) {
header {
flex-direction: column;
align-items: flex-start;
}

nav {
margin-top: 20px;
}
}
.container {
  margin: auto;
  padding: 50px;
  width: 80%;
  background-color: #f2f2f2;
}

/* h1 {
  font-size: 48px;
  text-align: center;
  color: #3465a4;
  margin-bottom: 0;
}
 */
/* h2 {
  font-size: 36px;
  text-align: center;
  color: #555;
  margin-top: 0;
}
 */
h3 {
  font-size: 24px;
  color: #3465a4;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
}

.col-3 {
  flex: 1 0 30%;
  margin-right: 3%;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.col-3:last-child {
  margin-right: 0;
}

.subtitle {
  font-style: italic;
  margin-top: 0;
  margin-bottom: 10px;
}

ul {
  list-style: none;
/*   padding: 0;
  margin: 0; */
}

li {
  margin: 10px 0;
}

a {
  color: #3465a4;
}

a:hover {
  color: #1d3d7d;
}
